@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@1&family=Playfair+Display&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Chivo Mono, sans-serif;
    color: #3a3a3a;
}

/* headings and logo */

h1 {
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color:#000000
}

    
h2 {
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    text-align:left;
    line-height: 200px;
    padding-top: 80px;
    padding-left: 40px;
}

#extra_space {
    padding-top: 80px;

}

#extra_space2 {
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;

}
h3 {
    font-family: Playfair Display, sans-serif;
    letter-spacing: 4px;
    text-align:center;
}
p {
    padding-right: 40px;
    padding-left: 40px;
    line-height: 30px;
    margin-top: 1em ;
    margin-bottom: 1em ;

}



#logo {
    font-size: 280%;
    margin-left: 30px;
}
#logo1 { 
    display:flex; 
    margin: 15px;
    float: center; height: 220px; 
    width: auto; 
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left:850px;
}




/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}


#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Malaga image */

#malaga {
    height: 600px;
    width: 100%;
    background: url("../images/malaga.jpg") no-repeat center center;
}

#culture {
    height: 600px;
    width: 100%;
    background: url("../images/culture.png") no-repeat center center;
}

#weather {
    height: 600px;
    width: 100%;
    background: url("../images/weather.png") no-repeat center center;
}

#gastronomy {
    height: 600px;
    width: 100%;
    background: url("../images/gastronomy.png") no-repeat center center;
}

#food{
    font-size: 110%;
    letter-spacing: 1px;
    margin-top: 1em ;
    margin-bottom: 1em ;
    text-align: center;
    
}
.text-to-align {
    vertical-align: top;
    margin-top: 10em ;
    margin-bottom: 10em ;
    

}
#joinus {
    height: 600px;
    width: 100%;
    background: url("../images/joinus.png") no-repeat center center;
}

#leisure {
    height: 600px;
    width: 100%;
    background: url("../images/leisure.png") no-repeat center center;
}

#menu {
    text-align: center;
}


#malaga_heading {
    text-align: center;
    margin: 0 auto;
    font-size: 280%;
}
/* footer */

footer {
    height: 150px;
    padding-top: 300px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}

/* Form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
    
}
.joinus_form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 800px;
    position: absolute; 
    left: 10%;
    padding: 30px;
    
    
}
.joinus_form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
    
    
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.bigtext-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 50px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    
}
.text-input:hover {
    border-color:#f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#f16c6b;
    color:#fafafa;
    display: block;
    
    
}

.join-button:hover {
    background-color:#fafafa;
    color:#f16c6b;
}

/* Buttons with links and pictures */

#photos-button {
    clear: both;
    line-height: 2;
    column-count: 10;
    column-gap: 0;
    padding: 40px;
    text-align: center;
    display: flex
    
}
#photos-button > img {
    width: 10%
    
}

#photos-button > a {
    height: 5%;
    width: 100%
}

#wea {
    margin-top: 100px;
    height: 5%;
    width: 100%;
    padding: 5%;
}